/*https://boskierp.pl/img/ss/dwb_1eXy.png */ /*https://boskierp.pl/img/ss/dwb_Fhdo.png*/
#phonebg {
  border: 15px solid transparent;
/*  border-image: url("/public/img/other/bgphone4.png") 17 fill;*/
}
#phonebg4 {
  border: 13px solid transparent;
 /* border-image: url("/public/img/other/bgphone4.png") 14 fill;*/
}
/* #phonebg {
    background: url('https://boskierp.pl/img/ss/dwb_CHlU.png') no-repeat;
    background-position: center; 
    background-size: contain; 
} */

/* #phonebg {
    background: url('https://boskierp.pl/img/ss/dwb_CHlU.png') no-repeat;
    background-position: center; 
    background-size: cover; 
} */
#message {
  -webkit-mask:
    radial-gradient(var(--t) at var(--_d) 0, #0000 98%, #000 102%) var(--_d)
      100% / calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r), #000 75%, #0000 0) calc(var(--r) / -2)
      calc(var(--r) / -2) padding-box,
    radial-gradient(50% 50%, #000 98%, #0000 101%) 0 0 / var(--r) var(--r) space
      padding-box;
}
